<%- include('partials/headers/header-logo') -%>

    <main class="container-main">
        <section class="container-landing">
            <section class="left-container">
                <section class="tag-line-section">
                    <h1 class="tag-line">Little leagues, big <span class="tag-line-sports">stats.</span></h1>

                </section>

                <section class="buttons-section">
                    <a href="/login" class="btn-index btn-login">Sign In</a>
                    <a href="/signup" class="btn-index btn-signup"> Sign Up</a>
                </section>
            </section>
            <section class="right-container">

                <secction class="container-box">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar-vert"></div>

                    <ul class="ken-burns-slideshow">
                        <li class="slide img-fluid" id="slide1"></li>
                        <li class="slide" id="slide2"></li>
                        <li class="slide" id="slide3"></li>
                        <li class="slide" id="slide4"></li>
                        <li class="slide" id="slide5"></li>
                    </ul>
                </secction>

            </section>

            <%- include('partials/arrow') -%>
        </section>
        <section class="container-about">
            <h3 class="tag-line-text">Track your stats like a pro</h3>
            <p>use this site to track your small leagues, individual players, teams.</p>
        </section>
    </main>



    <%- include('partials/footer') -%>