<%- include('partials/headers/header-logo') -%>

    <main class="index-main-container">
        <section class="index-landing-container ">
            <section class="left-container">
                <section class="tag-line-section">
                    <h1 class="tag-line">Little leagues, big <span class="tag-line-sports">stats.</span></h1>

                </section>

                <section class="buttons-section">
                    <a href="/login" class="btn-index btn-login">Sign In</a>
                    <a href="/signup" class="btn-index btn-signup"> Sign Up</a>
                </section>
            </section>
            <section class="right-container">

                <secction class="container-box">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar-vert"></div>

                    <ul class="ken-burns-slideshow">
                        <li class="slide img-fluid" id="slide1"></li>
                        <li class="slide" id="slide2"></li>
                        <li class="slide" id="slide3"></li>
                        <li class="slide" id="slide4"></li>
                        <li class="slide" id="slide5"></li>
                    </ul>
                </secction>

            </section>

            <%- include('partials/arrow') -%>
        </section>
        <section class="container-about">
            <section class="about-left">
                <ul class="about-list">
                    <li class="about-list-item">
                        <div class="number-div">
                            <i class="fa-solid fa-1"></i>
                        </div>
                        <p>Create profiles</p>
                    </li>
                    <li class="about-list-item">
                        <div class="number-div">
                            <i class="fa-solid fa-2"></i>
                        </div>
                        <p>Add stats all season long</p>
                    </li>
                    <li class="about-list-item">
                        <div class="number-div">
                            <i class="fa-solid fa-3"></i>
                        </div>
                        <p>Compare to your buddies</p>
                    </li>
                    <li class="about-list-item list-four">
                        <div class="number-div ">
                            <i class="fa-solid fa-4"></i>
                        </div>
                        <p>Get MVP</p>
                    </li>
                </ul>
            </section>

            <section class="about-right">
                <h3 class="tag-line-text">TRACK YOUR STATS LIKE A PRO</h3>
                <h4>Keep track of the leagues and teams in which YOU are the star.</h4>
            </section>
        </section>
    </main>



    <%- include('partials/footer') -%>