<%- include('partials/headers/header-logo') -%>

    <main class="index-main-container">
        <section class="index-landing-container ">
            <section class="left-container">
                <section class="tag-line-section">
                    <h1 class="tag-line">Little leagues, big <span class="tag-line-sports">stats.</span></h1>

                </section>

                <section class="buttons-section">
                    <a href="/login" class="btn-index btn-login">Sign In</a>
                    <a href="/signup" class="btn-index btn-signup"> Sign Up</a>
                </section>
            </section>
            <section class="right-container">

                <secction class="container-box">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar-vert"></div>

                    <ul class="ken-burns-slideshow">
                        <li class="slide img-fluid" id="slide1"></li>
                        <li class="slide" id="slide2"></li>
                        <li class="slide" id="slide3"></li>
                        <li class="slide" id="slide4"></li>
                        <li class="slide" id="slide5"></li>
                    </ul>
                </secction>

            </section>

            <%- include('partials/arrow') -%>
        </section>
        <section class="container-about">
            <h3 class="tag-line-text">TRACK YOUR STATS LIKE A PRO</h3>
            <p>use this site to track your small leagues, individual players, teams.</p>
            <ul>
                <li>Create players profiles for you and your friends</li>
                <li>Create a profile for your sunday league football team</li>
                <li>Create a little league profile for your basketball league </li>
            </ul>
            <p>keep your teams and leagues organized</p>
            <p>sign up</p>
            <p>add profiles to either players, teams or leagues</p>
            <p>add stats to it</p>
        </section>
    </main>



    <%- include('partials/footer') -%>